<div class="col-sm-12">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class-"alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="form-group">
        <%= f.label :name, "Username" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %><br>
        <%= f.password_field :password_confirmation, :autocomplete => "off", class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn-primary active", role: "button" %>
  </div>
<% end %>
</div>
