<div class="col-sm-12"><h2>Editing User</h2><br></div>

<div class="col-sm-12">
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to 'Back', users_path, class: "btn btn-danger active", role: "button" %>  
    </div>
    <div class="btn-group">
    <%= link_to 'Show User', @user, class: "btn btn-primary active", role: "button" %>
    </div>
  </div>
  <br>
</div>
<%= render 'form' %>

