<div class="col-sm-12"><h2>Listing Users</h2><br></div>

<div class="col-sm-12">
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to 'New User', new_user_path, class: "btn btn-primary active", role: "button" %>
    </div>
  </div>
  <br>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
        <% if current_user.id != user.id %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
