<h1>New User</h1>

<div class="col-sm-12">
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to 'Back', users_path, class: "btn btn-danger active", role: "button" %>
    </div>
  </div>
  <br>
</div>

<%= render 'form' %>
