<div class="col-sm-12"><h2>Showing User</h2><br></div>

<div class="col-sm-12">
	<p><b>User:</b> <%= @user.name %></p>
	<p><b>Email:</b> <%= @user.email %></p>
</div>

<div class="col-sm-12">
  <br>
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to 'Back', users_path, class: "btn btn-primary active", role: "button" %>
    </div>
    <div class="btn-group ">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary active", role: "button" %>
    </div>
  </div>
  <br>
</div>


