<div class="col-sm-12">
<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation" class-"alert alert-danger">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">  
  <div class="col-sm-12 col-md-4">
  <div class="form-group">
  <%= f.label :recipients, "To" %><br>
  <%= f.select(:recipient_ids, User.all.collect {|u| [ u.email, u.id ] }, {}, multiple: true, class: "form-control") %>
  </div>
  </div>
  <div class="col-sm-12 col-md-8">
  <div class="form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control", rows: "20" %>
  </div>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Save Draft", class: "btn btn-primary active", role: "button" %>
    <%= f.submit "Send Email", class: "btn btn-primary active", role: "button" %>
  </div>
<% end %>
</div>
