<div class="col-sm-12"><h2>Your Emails</h2><br></div>

<div class="col-sm-12">
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to 'Compose New Email', new_email_path, class: "btn btn-primary active", role: "button" %>
    </div>
  </div>
  <br>
</div>

<div class="col-sm-12">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Sent</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td data-link="<% if email.sent_at.nil? %><%= edit_email_path(email) %><% else %><%= email_path(email) %><% end %>">
          <% if email.sent_at.nil? %>
            <span class="tag tag-primary hidden">draft</span>
          <% end %>
          <%= email.subject %><br>
          <i>
          <% email.recipients.each do |r| %>
            <%= r.email+' ' %>
          <% end %></i>
        </td>

        <td data-link="<% if email.sent_at.nil? %><%= edit_email_path(email) %><% else %><%= email_path(email) %><% end %>"><%= email.sent_at %></td>
        
        <td>
            <% if email.sent_at.nil? %>
            <%= link_to 'Send', queue_email_path(email) %>
            <% end %>
            <%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script type="text/javascript">
  // Add links to table
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>