<div class="col-sm-12"><h2>Composing Email</h2><br></div>

<div class="col-sm-12">
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to 'Back', emails_path, class: "btn btn-danger active", role: "button" %>
    </div>
  </div>
  <br>
</div>

<%= render 'form' %>