
<div class="col-sm-12"><h2><%= @email.subject %></h2></div>



<div class="col-sm-12"><p><b>To:</b> <% @email.recipients.each do |r| %>
	<%= r.email %>
<% end %></p></div>
<div class="col-sm-12"><p><%= @email.sent_at %></p><br></div>
<div class="col-sm-12"><p><%= simple_format @email.body %></p></div>

<div class="col-sm-12">
  <div class="btn-toolbar">
    <div class="btn-group ">
    <%= link_to 'Back', emails_path, class: "btn btn-primary active", role: "button" %>
    </div>
    <% if @email.sent_at.nil? %>
    <div class="btn-group ">
    <%= link_to 'Send Email', queue_email_path(@email), class: "btn btn-danger active", role: "button" %>
    </div>
    <% end %>
  </div>
  <br>
</div>
