<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
    <title>Emailapp</title>
  </head>
  <body>
  	<!-- Top navigation bar -->
  	<nav class="navbar navbar-static-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="<%= root_path %>">Emails Demo App</a>
      <ul class="nav navbar-nav">
        <li class="nav-item <%= 'active' if params[:controller] == 'emails' %>">
          <a class="nav-link" href="<%= root_path %>">Emails</a>
        </li>
        <li class="nav-item <%= 'active' if params[:controller] == 'users' %>">
          <a class="nav-link" href="<%= users_path %>">Users</a>
        </li>
      </ul>
      <% if user_signed_in? %>
      <span class="navbar-text float-xs-right">
    		<span style="color: white;"><%= current_user.email %>&nbsp;</span>
    		<%= link_to 'Log Out', destroy_user_session_path, data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-sm btn-warning active", role: "button"  %>
  	  </span>
  	  <% end %>
    </nav>
  	
	<div class="container">
  		<div class="row">
  			<br>
  			<div class="col-sm-12">
  			<% if !notice.nil? %>
  			<p class="alert notice alert-success" role="alert"><%= notice %></p>
  			<% end %>
  			<% if !alert.nil? %>
			<p class="alert alert-warning" role="alert"><%= alert %></p>
			<% end %>
			</div>
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>